{% include 'header.html.twig' %}
<script src="js/script.js"></script>
<style type="text/css">
    <!--
    .chat_wrapper {
        width: 500px;
        margin-right: auto;
        margin-left: auto;
        background: #CCCCCC;
        border: 1px solid #999999;
        padding: 10px;
        font: 12px 'lucida grande',tahoma,verdana,arial,sans-serif;
    }
    .chat_wrapper .message_box {
        background: #FFFFFF;
        height: 150px;
        overflow: auto;
        padding: 10px;
        border: 1px solid #999999;
    }
    .chat_wrapper .panel input{
        padding: 2px 2px 2px 5px;
    }
    .system_msg{color: #BDBDBD;font-style: italic;}
    .user_name{font-weight:bold;}
    .user_message{color: #88B6E0;}
    -->
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <p>Список пользователей</p>
            <ul class="userList">
                {% for user in users %}
                    <li id="list_user_id_{{ user.id }}" data-id="{{ user.id }}">{{ user.username }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-10">
            <h3>Окно чата</h3>
            <div class="wrapChatWindow">
                <div class="row rowMargin">
                    <div class="col-md-12">
                        <div class="messageWrap">
                            <div class="row">
                                <div class="col-md-1">
                                    <img src="img/avatar.png" alt="">
                                </div>
                                <div class="col-md-8 disablePadding">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <b>Username</b>
                                        </div>
                                        <div class="col-md-7"></div>
                                        <div class="col-md-3">
                                            <span>31.10.2015 | 20:45:10</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p>Message, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success" onclick="sendMessage();">Отправить</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



{# OLD #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                user: <div id="user_name" data-id="{{ id }}">{{ name }}</div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="chat_wrapper">
                    <div class="message_box" id="message_box"></div>
                    <div class="panel">
                        <div class="row">
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="name" id="name" placeholder="Your Name" value="{{ name }}" maxlength="10" disabled/>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" id="users_list">
                                    <option value="0" selected>Всем</option>
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="text" name="message" id="message" placeholder="Message" maxlength="80" />
                            </div>
                            <div class="col-md-2">
                                <button id="send-btn" class="btn btn-success">Send</button>
                            </div>
                        </div>


            </div>
        </div>
    </div>

</body>
</html>
